@model IQueryable<BookItem>
<div class="text-center">
    <div id="booksContainer" class="animate__animated animate__backInDown grid-books">
        @if (Model.Any())
        {
            @foreach (BookItem entity in Model)
            {
                if (entity.Hidden == false)
                {

                    <a asp-area="" asp-controller="NewsItems" asp-action="Index" asp-route-id="@entity.Id" class="book-item rounded concentrate blue book-cover" style="background-image: url('@Url.Content("~/bookcovers/" + entity.CoverImagePath)');">
                        <div class="book-cover">
                            <div class="text-overlay blue">
                                <p>@entity.Title</p>
                                <h4>@entity.Author</h4>
                            </div>
                        </div>
                    </a>
                }
            }
        }
        
    </div>
    <div id="back" style="cursor: pointer; position: absolute; bottom: 20px; right: 20px;" class="rounded-circle concentrate blue" onclick="window.location='/Media/Index';">
        Назад
    </div>
</div>

<script>
    var page = 1;
    var loading = false;

    function loadMoreBooks() {
        if (!loading) {
            loading = true;
            $.ajax({
                url: '@Url.Action("Index", "BooksItems")',
                type: 'GET',
                data: { page: page + 1 },
                success: function (data) {
                    if (data.length > 0) {
                        $('#booksContainer').append(data);
                        page++;
                    } else {
                        $(window).off('scroll'); // No more items to load
                    }
                },
                complete: function () {
                    loading = false;
                }
            });
        }
    }

    $(window).on('scroll', function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
            loadMoreBooks();
        }
    });

    // Load more books initially
    loadMoreBooks();
</script>
